---
import '@/styles/global.css'

import Header from '@/components/Header.astro'
import Link from '@/components/Link.astro'
import Button from '@/components/Button.astro'
import Title from '@/components/Title.astro'
import Text from '@/components/Text.astro'
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Inicio | Velandia Abogados</title>
  </head>
  <body class='flex flex-col gap-y-6 p-2 text-slate-900 bg-slate-100'>
    <Header
      title='Protegemos lo que más te importa.'
      img='https://images.unsplash.com/photo-1611516818236-8faa056fb659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'
      alt='Family reuned'
    >
      <Text color='light'>
        Somos un buffet. Especializado en <Link href='/'
          >derecho de familia</Link
        >. Nuestra misión es ver a cada persona que está detras de cada proceso
        y proteger sus interes, sin dañar lo que mas te importa en el proceso, y
        basamos nuestra mentalidad en ello.
      </Text>
      <Button href='/' as='a'>Escríbenos</Button>
    </Header>
  </body>
</html>
