---
import Text from './Text.astro'
import Title from './Title.astro'

interface Props {
  title: string
  content: string
}

const { content, title } = Astro.props as Props
---

<article class='p-8 rounded-lg flex flex-col gap-y-4'>
  <slot name='icon' />
  <Title as='h3'>
    {title}
  </Title>
  <Text>
    {content}
  </Text>
</article>
