---
import Logo from '@/components/Logo.astro'
import LogoText from '@/components/LogoText.astro'
import NavLinks from '@/components/NavLinks.astro'
import Button from '@/components/Button.astro'

import { links } from '@/data/nav'
import Title from './Title.astro'

interface Props {
  title: string
  img: string
  alt: string
}

const { title, img, alt } = Astro.props as Props
---

<header class='rounded-xl bg-slate-900 text-slate-100 w-full parent'>
  <div class='min-h-[84vh] grid grid-rows-[auto_1fr] parent-container'>
    <nav class='flex items-center justify-between'>
      <a href='/' class='flex items-center w-56 hover:text-slate-200'>
        <Logo />
        <LogoText />
      </a>
      <NavLinks links={links} />
      <Button as='a' href='/'>Escríbenos</Button>
    </nav>
    <div class='child'>
      <div class='col-start-1 col-end-5 flex flex-col gap-y-4'>
        <Title as='h1'>
          {title}
        </Title>
        <slot />
      </div>
      <figure
        class='relative before:absolute before:inline-block before:bg-gradient-to-tr before:from-slate-900 before:to-slate-800 before:-z-[1] z-[1] before:rounded-tl-[260px] before:-top-4 before:-left-4 before:w-full before:h-full col-start-6 2xl:col-start-7 col-end-12'
      >
        <div
          class='relative before:absolute before:w-full before:h-full before:bg-slate-900/30'
        >
          <img
            src={img}
            alt={alt}
            class='w-full rounded-tl-[196px] rounded-tr-xl rounded-b-xl min-h-[392px] object-cover'
          />
        </div>
      </figure>
    </div>
  </div>
</header>
