---
interface Props {
  href: string
  variant?: keyof typeof variants
}

const variants = {
  primary: ''
}

const { href, variant } = Astro.props as Props

const className = `font-semibold underline transition-opacity hover:opacity-80`
---

<a href={href} class={className}>
  <slot />
</a>
