---
interface Props {
  links: Array<{ name: string; path: string }>
  className?: string
}

const { links, className } = Astro.props as Props
---

<ul class={`flex items-center justify-center gap-x-6 font-light ${className}`}>
  {
    links.map(({ name, path }) => (
      <li>
        <a href={path} class='hover:font-semibold'>
          {name}
        </a>
      </li>
    ))
  }
</ul>
