---
import Head from '@/components/Head.astro'
import type { HeadProps } from '@/components/Head.astro'

interface LayoutProps extends HeadProps {}

const { description, title, url } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang='es' class='scroll-smooth'>
  <head>
    <Head description={description} title={title} url={url} />
  </head>
  <body
    class='flex flex-col gap-y-6 p-1 sm:p-2 text-slate-900 bg-slate-100 selection:bg-sky-200'
  >
    <slot />
  </body>
</html>
